/* public/style.css */
body {
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #f0f0f0;
}

.form-container {
  background: #fff;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 0 10px #ccc;
  width: 300px;
}

input, button {
  display: block;
  width: 100%;
  margin-bottom: 1rem;
  padding:0.7rem;
}